<div class="container">

  <div class="border p-3 my-3">
    <h1><%= @flat.name %></h1>
    <h5><%= @flat.address %></h5>
  </div>

  <div class="border p-3 my-3">
    <h2>A bit more about this flat...</h2>
    <p><%= @flat.description %></p>
  </div>

  <div class="border p-3 my-3">
    <h2>Details</h2>
    <div class="d-flex justify-content-between">
      <p><%= @flat.number_of_guests %> guests</p>
      <p>€ <%= @flat.price_per_night %></p>
    </div>
  </div>

</div>
