

<div class="banner" style="background-image: url('<%= @flat.picture_url %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>

      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
      </div>

    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h3>Book this place!</h3>

        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="start-date-label">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="start-date" aria-describedby="start-date-label">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="end-date" aria-describedby="start-date-label">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>

      <div class="flat-show-card">
        <h3>Details</h3>
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-people-line"></i>
            <span><%= @flat.number_of_guests %></span>
          </div>

          <div class="d-flax align-items-center ms-3">
            <i class="fa-solid fa-euro-sign"></i>
            <span><%= @flat.price_per_night %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
