

<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')"></div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>

      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
      </div>

    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h3>Book this place!</h3>
      </div>

      <div class="flat-show-card">
        <h3>Details</h3>
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-people-line"></i>
            <span><%= @flat.number_of_guests %></span>
          </div>

          <div class="d-flax align-items-center ms-3">
            <i class="fa-solid fa-euro-sign"></i>
            <span><%= @flat.price_per_night %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
